button {
  margin: 0 !important;
}

.card {
  width: 600px;
}

.header {
  margin-bottom: 20px;
}

.tasks__control {
  display: flex;
  justify-content: space-between;
}

.tasks__input {
  flex-grow: 1;
  padding: 10px ;
  border: 1px solid gray;
  border-radius: 25px;
}

.tasks__add {
  font-family: Golos, Arial, sans-serif;
  background: green;
  border: none;
  border-radius: 25px;
  padding: 10px;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 2px 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
}

.tasks__list {
  margin-top: 10px;
}

.task__title {
  flex-grow: 1;
  padding: 10px 5px;
}

.task__remove {
  color: red;
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
}
